/*

Author: Andrew Meyers

FGCU Library Services

Description: CSS code for Tabbed Search interface for FGCU Library Services

Last updated: July 26th, 2015

*/

body {
    
    /* background-image: url('images/background.png'); */
    background-color:#ffffff;
    background-position: top;
    margin-right:1000px;
}

#tabbed_box {
    margin: 0px auto 0px auto;
    width:300px;
}

.tabbed_box h4 {
    font-family:Arial, Helvetica, sans-serif;
    font-size:23px;
    color:black;
    letter-spacing:-1px;
    margin-bottom:10px;
}

.tabbed_box h4 small {
    color:#000000;
    font-weight:normal;
    font-size:9px;
    font-family:Verdana, Arial, Helvetica, sans-serif;
    text-transform:uppercase;
    position:relative;
    top:-4px;
    left:6px;
    letter-spacing:0px;
}

ul.tabs li a {
    background-color:#000000;
    color:#ffebb5;
    padding:8px 14px 8px 14px;
    text-decoration:none;
    font-size:9px;
    font-family:Verdana, Arial, Helvetica, sans-serif;
    font-weight:bold;
    text-transform:uppercase;
    border:1px solid #464c54;

    border-top-left-radius: 6px;
    border-top-right-radius: 6px;

}
ul.tabs li a:hover {
    background-color:#2f343a;
    border-color:#ffffff;
}
ul.tabs li a.active {
    background-color:#ffffff;
    color:#282e32;
    border:1px solid #464c54; 
    border-bottom: 1px solid #ffffff;
}

.tabbed_area {
    border:1px solid #494e52;
    background-color:#ffffff;
    padding:8px;
}

ul.tabs {
    margin:0px; padding:0px;
}

ul.tabs li {
    list-style:none;
    display:inline;
}

.content {
    background-color:#ffffff;
    padding:10px;
    border:1px solid #464c54;
    border-color:#000000;

}

#content_2, #content_3, #content_4 { display:none; }

ul.tabs {
    margin:0px; padding:0px;
    margin-top:5px;
    margin-bottom:7px;
}

.content ul {
    margin:0px;
    padding:0px 20px 0px 20px;
}
.content ul li {
    list-style:none;
    border-bottom:1px solid #d6dde0;
    padding-top:15px;
    padding-bottom:15px;
    font-size:13px;
}
.content ul li a {
    text-decoration:none;
    color:#3e4346;
}
.content ul li a small {
    color:#8b959c;
    font-size:9px;
    text-transform:uppercase;
    font-family:Verdana, Arial, Helvetica, sans-serif;
    position:relative;
    left:4px;
    top:0px;
}

.content ul li:last-child {
    border-bottom:none;
}

